
  .title-project{
  position: absolute;
  width: 145px;
  height: 54px;
  margin-left:180px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  margin-top: 0;
  color: #2B47D6;
  white-space: nowrap;
  }
  .search-container  {
    margin-top: 20px;
    margin-left: 360px;
    justify-content: center;

    width: 550px;
  }
  .textarea-project{
    width: 588px;
    height: 375px;
  }
  .project-list .form-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      padding: 10px;
      border: 1px solid #99ABF0;
      background-color: #ffffff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-size: 16px;
      margin-right: 5px;
    }
    .btn-add-project {
      
      background-color: #2B47D6;
      border:white;
      color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        margin-left: 970px;
        margin-top: 1px;
        border-radius: 10px;
        width: 220px;
        height: 48px; 
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    
      }i {
        margin-right: 15px; 
      }
      .btn-add:hover {
        background-color:#F9FAFF;
      color:#2B47D6;
      border: #2B47D6;
      }
  /* ProjectList.css */
  
  .project-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170vh;
    margin-left: 130px;
   
  }
  
  .project-card {
    
    width: 270px;
    height: 150px;
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
    border: 1px solid #99ABF0;
    border-radius: 20px;
    margin-top: 0;
  }
  
  .project-card h5 {
    width: 120px;
  height: 20px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2B47D6;
  flex: none;
  order: 0;
  margin-left: 10px;
  white-space: nowrap;
  }
  
  .project-card p {
    width: 208px;
  height: 84px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #4D6DE5;
  flex: none;
  order: 0;
  flex-grow: 1;
  justify-content: center;
  margin-left: 10px;
  }
  .card-title{
    display: flex;
    flex-direction: column;
    justify-items:flex-end
    
  }
  .icon-card{
    
    white-space: nowrap;
    width: 10px;
    height: 10px;
  }
