
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    height: 90px;
    margin-left: 260px;
    box-shadow: 0px 8px 16px rgba(0, 17, 81, 0.05);
    border-radius: 10px;
    top: 16px;
    background: #FFFFFF;
    }
    .dropdown{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 8px 8px 8px;
        gap: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        
        background: #F9FAFF;
        color: #2B47D6;
    }
    .navbar-nav{
        margin-left: 850px;
        margin-top: 0px;
        border: 1.5px solid #E9EDFC;
        border-radius: 10px;
        width: 220px;
        height: 48px;
        

    }
           
        
          
                     
            .dropbtn{
                width: 220px;
                height: 48px; 
                border-radius: 10px;
                color: #2B47D6;
            
            }
        
            .img-profile {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                border: 2px solid #2B47D6;
                margin-left: 18px;
            }
        .dropdown-item{
        
        color: #2B47D6!important;
           
       align-items: center;
       justify-content: center;
       font-weight: 600;
        
    }
    
       
      .navbar-nav .dropdown-menu {
    
        width: fit-content;
        margin-left: 60px;
        border: 1.5px solid #E9EDFC;
        border-radius: 10px;
        
       
       }
     
    .account-user-name{
            
            
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
     
        color: #2B47D6;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }
    
    @media (min-width: 767.98px) {
        .navbar {
            
            position: sticky;
            z-index: 999;
        }
    }
.icon{
    width: 30px;
    height: 30px;
    padding: 5px 5px 5px 5px ;
}
.nav-link.dropdown-toggle::after {
    color:#2B47D6;
  }